</body>
</html>
<script type="text/javascript"  src="/jquery/jquery.js"></script>
<script type="text/javascript"  src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript"  src="/bootbox/bootbox.min.js"></script>
<script type="text/javascript" src="/jquery/loading.js"></script>