     <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="position:relative" >
        <span class="navbar-brand mb-0 h1" >
         <img src="/images/money.png" width="30" height="30" class="d-inline-block align-top" alt=""> Spending Tracker
        </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/record">Record</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/analytic">Analytic</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="/cdrecord">Debit/Credit</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="/add">Add</a>
            </li>
            <li class="nav-item">
             <a class="nav-link" href="/setting">Setting</a>
            </li>
          </ul>
           <ul class="nav navbar-nav navbar-right">
             <li>
                <span class="navbar-brand mb-0 h1"> Welcome, <%=username %></span>
             </li>
              <li>
              <a class="navbar-brand nav-item" href="/logout">
                Log Out
              </a>
              </li>
           </ul>
        </div>
      </nav>
       <div id="navLoading" ></div>
      </header>

