<% include partials/header %>
<div class="divCenter shadow jumbotron">
    <div class="container">
      <h1 class="jumbotron-heading"> oops! Something went wrong</h1>
      <p class="lead text-muted">
        Soory ,for the Inconvience.</br> We are working on it and we'll
        get it fixed has soon as possible </br>
        You can go back or email us on spedingtracker@gmail.com
      </p>
       <p>
        <a href="/record" class="btn btn-primary mt-2">Back To Record </a>
      </p>
    </div>
</div>
<% include partials/footer %>