<% include partials/header %>

<div class="divCenter shadow jumbotron">
    <div class="container">
      <h1 class="jumbotron-heading">404 oops! Page not found</h1>
      <p class="lead text-muted">
       Soory,but the page you are looking for is not founded.</br>
          Please make sure you are type  the right url.
      </p>
      <p>
        <a href="/record" class="btn btn-primary mt-2">Back To Record </a>
      </p>
    </div>
</div>

<% include partials/footer %>